@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #FFFFFF;
}

.App {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*--------------------------------------------------------------
>>> Hero
----------------------------------------------------------------*/

.heroWave {
    position: absolute;
    bottom: 0;
}

/*--------------------------------------------------------------
>>> Footer
----------------------------------------------------------------*/

Footer {
    margin-top: auto;
    justify-content: center;
    background-color: #000000;
}

.iconFooter {
    width: 1.2em;
  }