@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #111827 !important;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*--------------------------------------------------------------
>>> Hero Carousel
----------------------------------------------------------------*/

/* .heroWave {
    position: absolute;
    bottom: 0;
} */

.flex.transition-transform {
    transition: transform 1500ms ease-in-out;
}

/*--------------------------------------------------------------
>>> Footer
----------------------------------------------------------------*/

Footer {
    margin-top: auto;
    justify-content: center;
    background-color: #000000;
}

.iconFooter {
    width: 1.2em;
}