@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #111827 !important;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*--------------------------------------------------------------
>>> Hero Carousel
----------------------------------------------------------------*/

/* .heroWave {
    position: absolute;
    bottom: 0;
} */

.imgHeroHome {
  border-radius: 1em;
  height: 500px;
}

.flex.transition-transform {
  transition: transform 1500ms ease-in-out;
}

@media screen and (max-width: 1535px) {
  .imgHeroHome {
    height: 400px;
  }
}

@media screen and (max-width: 1280px) {
  .imgHeroHome {
    height: 380px;
  }
}

@media screen and (max-width: 1024px) {
  .imgHeroHome {
    height: 350px;
  }
}

@media screen and (max-width: 636px) {
  .imgHeroHome {
    height: 320px;
  }
}

@media screen and (max-width: 431px) {
  .imgHeroHome {
    height: 300px;
  }
}










/*--------------------------------------------------------------
>>> Footer
----------------------------------------------------------------*/

Footer {
  margin-top: auto;
  justify-content: center;
  background-color: #000000;
}

.iconFooter {
  width: 1.2em;
}